@use 'resources/scss/vars' as *;

.footer-top {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
}

.bg-dc {
    background-image: url('../img/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-position-x: 1000px;
    background-position-y: center;
    padding: 40px 0;
}

h4 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

ul li {
    padding: 4px 0;

    a {
        color: gray;
        font-size: 15px;
    }
}

.links {
    display: flex;
    gap: 35px;

    .dc-comics-links {
        margin-bottom: 20px;
    }
}

.copyright {
    font-size: 15px;
    margin-top: 25px;
    color: gray;

    a {
        color: $blue;
    }
}